/*****************************************************************************/
/*                     Hoja de estilo de index.html                          */
/*                     Autor: Sergio Gamez Ortega                            */
/*                     Version: 1.0                                          */
/*                     Fecha: Octubre de 2023                                */
/*                     Comentario: Proyecto de Lenguaje de Marcas            */
/*****************************************************************************/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: texto;
    font-size: 1.2em;
}

.wrapper {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 10%;
}

hr {
    border: none;
    background-color: black;
    margin: 150px 0 150px 0;
    height: 1px;
    background-image: linear-gradient(to right, #f0f0f0, #8f8f8f, #f0f0f0);
    
}

hr::after {
    content: '⚭';
    font-size: 1.5em;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(60deg);
    transform-origin: 50% 50%;
    padding: 0 0.75rem 0.5rem 0.75rem;
    background-color: white;
}

/************************************ STYLED BUTTON ******************************************/

.css-button-sliding-to-left--black {
    min-width: 130px;
    height: 40px;
    color: black;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: black;
    overflow: hidden;
    border: 2px solid black;
    color: white;
}

.css-button-sliding-to-left--black:hover {
    color: black;
}
  
.css-button-sliding-to-left--black:hover:after {
    width: 100%;
}

.css-button-sliding-to-left--black:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.4s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: white;
}

/************************************ FONTS ******************************************/

@font-face {
    font-family: titulo;
    src: url(../font/engebrechtre\ rg.otf);
}

@font-face {
    font-family: texto;
    src: url(../font/TechnaSans-Regular.otf);
}

/*************************************** NAV BAR ************************************/

nav {
    font-family: titulo;
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color: rgba(0,0,0,0.85);
    opacity: 0.9;
}

.topnav {
    margin-left: 50px;
    background-color: rgba(0,0,0,0.85);
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    transition: 0.25s;
    font-size: 1em !important;
}
  
.topnav a:hover {
    background-color: #888888;
    color: black;
}

.topnav .active {
    background-color: #e7e7e7;
    color: #5d5d5d;
}

.topnav .icon {
    display: none;
}

/************************************ HERO SECTION ************************************/

#hero-image {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    box-shadow: 5px 5px 50px black;
}

#hero-content {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f6f6f6;
}

#hero-content h1 {
    font-family: titulo;
    font-size: 5em;
}

#hero-content blockquote {
    font-size: 1.5em;
}

/************************************ DISCOGRAFÍA ************************************/

#discografia-sec {
    background-color: #888888;
}

#discografia {
    display: flex;
    width: 100%;
    height: 430px;
}

#discografia img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.75;
    transition: 0.5s;
    box-shadow: 5px 5px 50px black;
}

#discografia img:hover {
    cursor: crosshair;
    width: 40%;
    opacity: 1;
    filter: contrast(120%);
}

/************************************ MÚSICA (GRID-3) ************************************/

#musica-sec {
    background-color: #6d6d6d;
    padding: 10%;
}

.top-h1 {
    text-align: center;
    position: relative;
    top: -60px;
    text-shadow: 5px 5px 50px black;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

#musica-sec .grid-3 .col-3 iframe {
    width: 100%;
    height: 315px;
}

#musica-sec .grid-3 .col-3 h3 {
    text-align: center;
    position: relative;
    top: -30px;
    text-decoration: underline;
    text-shadow: none;
}

/************************************ MIEMBROS (GRID-2) ************************************/

#miembros-sec {
    background-color: #888888;
    padding: 10%;
}

.grid-2 {
    display: grid;
    grid-template-columns: 45% 50%;
}

.col-2 .text-container {
    margin-left: 50px;
}

.miembros-img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    opacity: 0.9;
    transition: 0.5s;
    box-shadow: 2px 2px 25px black;
}

.miembros-img:hover {
    cursor: crosshair;
    opacity: 1;
    transform: scale(105%);
}

.text-container {
    border-left: 2.5px solid black;
    padding-left: 35px;
}

/********************************* MERCHANDISING (GRID-3) ********************************/

#merchandising-sec {
    background-color: #6d6d6d;
    padding: 10%;
}

.card {
    padding: 4%;
    margin-bottom: 25%;
    background-color: white;
}

.card img {
    width: 100%;
}

.card {
    padding-bottom: 16px;
}

.card a h3 {
    background-color: transparent;
    position: relative;
    top: 85px;
    text-align: center;
}

#merchandising-sec .grid-3 .col-3 h4 {
    position: relative;
    top: -60px;
    text-align: center;
}

.card a {
    text-decoration: none;
    color: black;
}

.card a:hover img {
    opacity: 0.65;
}

.card a:hover h3 {
    text-decoration: underline;
}

/************************************ FOOTER (GRID-3) ************************************/

.footer {
    width: 100%;
    background-color: #393939;
}

.footer .grid-3 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-gap: 50px;
    padding: 45px 0;
}

.footer .grid-3 .col-3 figure {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .grid-3 .col-3 img {
    width: 250px;
}

.footer .grid-3 .col-3 h2 {
    color: white;
    margin-bottom: 25px;
    font-size: 1.5em;
}

.footer .grid-3 .col-3 a {
    text-decoration: none;
    color: white;
}

.footer .grid-3 .col-3 a p {
    opacity: 0.5;
    margin-bottom: 15px;
    border: hidden;
    transition: 0.4s ease;
}

.footer .grid-3 .col-3 a p:hover {
    opacity: 1;
    border-left: 1px solid white;
    padding-left: 10px;
}

.footer .grid-3 .col-3 .redes-sociales i {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #6d6d6d;
    text-align: center;
    transition: 0.3s ease;
    opacity: 0.5;
}

.footer .grid-3 .col-3 .redes-sociales i:hover {
    opacity: 1;
}

.footer .derechos-de-autor {
    background-color: #262626;
    padding: 15px 10px;
    text-align: center;
    color: white;
}

/************************************ RESPONSIVIDAD ************************************/

@media only screen and (max-width: 800px) { /* MÓVIL */

    .wrapper {
        width: 100%;
    }

    .top-h1 {
        top: -20px;
        font-size: 1.5em;
    }

    hr {
        margin: 75px 0 75px;
    }

    hr::after {
        padding: 0 0.5rem 0.3rem 0.5rem;
        font-size: 1em;
    }

    #hero-content h1 {
        font-size: 3.5em;
    }

    #hero-content blockquote {
        font-size: 0.8em;
    }

    #discografia {
        width: 100%; 
        height: auto; 
        flex-direction: column; 
    }

    #discografia img {
        width: 100%; 
        height: auto; 
        transition: width .5s ease, filter .5s ease, opacity .5s ease; 
        opacity: 0.8;
    }

    #discografia img:hover {
        cursor: crosshair;
        width: 100%; 
        opacity: 1; 
        filter: contrast(120%); 
    }

    .col-3 h3 {
        top: -20px;
    }

    .grid-2 {
        grid-template-columns: auto;
    }

    .col-2 .text-container {
        margin-left: 0;
    }

    #musica-sec .grid-3 {
        grid-template-columns: repeat(1, 1fr);
    }

    #merchandising-sec .grid-3 {
        grid-template-columns: repeat(2, 1fr);
    }

    #merchandising-sec .grid-3 .col-3 .card a h3 {
        font-size: 0.44em;
    }

    #merchandising-sec .grid-3 .col-3 .card a h3 {
        top: 45px;
    }

    .footer .grid-3 {
        width: 75%;
        grid-template-columns: auto;
        grid-gap: 30px;
        padding: 35px 0;
    }

}

@media only screen and (min-width: 801px)  and (max-width: 1439px) { /* TABLETS Y PORTATILES (PEQUEÑOS) */

    #musica-sec .grid-3 {
        grid-template-columns: auto;
    }

    .footer .grid-3 {
        width: 75%;
        grid-template-columns: auto auto;
        grid-gap: 30px;
        padding: 35px 0;
    }

    #merchandising-sec .grid-3 .col-3 .card a h3 {
        font-size: 0.65em;
    }

    #merchandising-sec .grid-3 .col-3 .card a h3 {
        top: 65px;
    }

}

@media screen and (width < 915px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav {
        margin-left: 0;
    }
}
  
@media screen and (width < 915px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav {
        margin-left: 0;
    }

}